body {
  margin: 0;
  padding: 0;
  background-color: #4B0082; /* Cor roxa escura */
  color: #ffffff;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza a barra de navegação */
}

.navbar {
    width: 100%;
    background-color: #6A1B9A;
    padding: 15px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.navbar-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.navbar-list li {
    margin: 0 30px;
}

.navbar-list a {
    color: #E6E6FA;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    transition: color 0.3s, transform 0.3s;
}

.navbar-list a:hover {
    color: #D8BFD8;
    transform: scale(1.1);
}

.container {
  max-width: 800px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1); /* Mantém o fundo levemente transparente */
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden; /* Para evitar overflow */
  margin-top: 20px; /* Espaço entre a navbar e o conteúdo */
}

h1 {
  margin: 20px 0;
  font-size: 2.5em;
}

h2 {
  margin: 20px 0;
  font-size: 2em;
}

p {
  font-size: 1.2em;
  margin: 10px 0;
}

figure {
  margin: 0 0 20px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0; /* Espaçamento entre a lista e o texto acima */
}

li {
  font-size: 1.2em;
  margin: 10px 0; /* Margem abaixo dos itens */
  padding: 5px; /* Preenchimento nos itens */
  background: rgba(255, 255, 255, 0.2); /* Fundo levemente transparente */
  border-radius: 5px; /* Bordas arredondadas */
}
