* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #4B0082, #2E0C50);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #FFFFFF;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

#Titulo {
    font-size: 2em;
    color: #E6E6FA;
    font-style: italic;
}

h1 {
    font-size: 5em;
    color: #FFFFFF;
    font-style: italic;
}

.main-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.card-login {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #6A1B9A;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 20px;
}

.textfield {
    margin: 15px 0;
}

.textfield input {
    padding: 15px;
    border: none;
    border-radius: 5px;
    width: 100%;
    background-color: #4B0082;
    color: white;
    font-size: 1em;
}

.btn-login {
    background-color: #8A2BE2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.btn-login:hover {
    background-color: #9B59B6;
}

#A1 {
    color: #D8BFD8;
    text-decoration: none;
    margin-top: 10px;
    display: block;
    transition: color 0.3s;
}

#A1:hover {
    color: #BA55D3;
}

#Login {
    font-size: 1.8em;
    margin-bottom: 20px;
}
