<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hosp .net</title>
    <link rel="stylesheet" href="../css/compras.css">
</head>
<body>
    <nav class="navbar">
        <ul class="navbar-list">
          <li><a href="{{url_for('home')}}">Sobre</a></li>
          <li><a href="{{url_for('planos')}}">Planos</a></li>
          <li><a href="{{url_for('home')}}">Home</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>Registro de domínio web</h1>
        <p>Explore os domínios disponíveis ou use nossa ferramenta de IA para gerar um domínio criativo e único.</p>

        <div class="buttons">
            <button class="btn-purple">Encontrar novo domínio</button>
            <button class="btn-outline">Gerar domínio usando IA</button>
        </div>

        <div class="search-box">
            <input type="text" placeholder="Digite o domínio desejado" id="domain-input">
            <button id="search-button">Procurar</button>
        </div>

        <div class="domain-options">
            <div class="domain-option">
                <span class="domain-name">.com.br</span>
                <span class="price">R$ 29,99</span>
            </div>
            <div class="domain-option">
                <span class="domain-name">.com</span>
                <span class="price">R$ 29,99</span>
            </div>
            <div class="domain-option">
                <span class="domain-name">.shop</span>
                <span class="price">R$ 2,99</span>
            </div>
            <div class="domain-option">
                <span class="domain-name">.org</span>
                <span class="price">R$ 44,99</span>
            </div>
            <div class="domain-option">
                <span class="domain-name">.net</span>
                <span class="price">R$ 48,99</span>
            </div>
            <div class="domain-option">
                <span class="domain-name">.xyz</span>
                <span class="price">R$ 10,99</span>
            </div>
        </div>
    </div>
</body>
</html>
